body {
	background-color: #2a2a2b;
}

.quake-list {
	height: 300px;
	overflow: auto;
}

.graph-hours {
	width: 40% !important;
	margin-left: auto;
	margin-right: auto;
}

.webcam-wrapper {
	margin-top: 20px;
}

.mila-logo {
	position: absolute;
	top: 90%;
	left: 20px;
}

.mila {
	opacity: 0.4;
}

.mila:hover {
	opacity: 1;
}

.credit-list {
	position: fixed;
	bottom: 0;
	right: 15px;
	background-color: #2a2a2b;
	padding: 5px 5px 2px 10px;
}