body {
	background-color: #2a2a2b;
}

.quake-list {
	height: 300px;
	overflow: auto;
}

.graph-hours {
	width: 70% !important;
	margin-left: auto;
	margin-right: auto;
}

.webcam-wrapper {
	overflow: hidden;
}

.mila-logo {
	position: absolute;
	top: 90%;
	left: 20px;
}

.credit-list {
	position: fixed;
	bottom: 0;
	right: 15px;
	background-color: #2a2a2b;
	padding: 5px 5px 2px 10px;
}

.earthquake-verified {
	color: #0f0;
}

.earthquake-not-verified {
	color: #555;
}

#volcano-chart-satellite {
	overflow: hidden;
	width: 320px;
	height: 320px;
}

.donate {
	display: inline;
	position: absolute;
	top: 15px;
	opacity: 0.5;
}

.donate:hover {
	opacity: 1;
}

.invert-colors {
    -webkit-filter: invert(83.2%);
    -moz-filter: invert(83.2%);
    filter: invert(83.2%);
}

/*
	http://www.cssreset.com/css3-webkit-animation-shake-links/
*/
@-webkit-keyframes shake-animation {
	0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
	10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
	20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
	30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
	40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
	50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
	60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
	70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
	80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
	90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
	100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}
.shaking {
	-webkit-animation-name: shake-animation;
	-webkit-animation-duration: 0.8s;
	-webkit-transform-origin:50% 50%;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}