body {
	background-color: #2a2a2b;
}

.quake-list {
	height: 300px;
	overflow: auto;
}

.graph-hours {
	width: 40% !important;
	margin-left: auto;
	margin-right: auto;
}

.webcam-wrapper {
	margin-top: 20px;
}

.mila-logo {
	position: absolute;
	top: 90%;
	left: 20px;
}