<div class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand">3dBulge | seismic activity in Bárðarbunga</a>
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse" id="navbar">
      <ul class="nav navbar-nav">
        <li>
          <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank" class="donate" title="Thank you for the interest">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="KPC64QM4CA2X8">
            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
          </form>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="mailto:baering90@gmail.com">
            Created by Bæring
          </a>
        </li>
        <li>
          <a href="http://en.vedur.is/earthquakes-and-volcanism/earthquakes/vatnajokull/" target="_blank">
            Data by IMO
          </a>
        </li>
        <li>
          <a href="http://www.rasmuskr.dk" target="_blank">
            Caching by RasmusKr
          </a>
        </li>
        <li>
          <a href="/earthquakes/">
            Advanced 3dBulge
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>