<div class="webcam-wrapper">
	<object type="application/x-shockwave-flash" data="http://www.livefromiceland.is/files/player.swf" bgcolor="#000000" name="player" tabindex="0" class="webcam-content" ng-class="{ 'shaking': shaking }" style="display: block; margin-left: auto; margin-right: auto; max-width: 100%; max-height: 100%">
		<param name="allowfullscreen" value="true">
		<param name="allowscriptaccess" value="always">
		<param name="scale" value="exactfit">
		<param name="seamlesstabbing" value="true">
		<param name="wmode" value="transparent">
		<param name="flashvars" value="netstreambasepath=http%3A%2F%2Fwww.livefromiceland.is%2Fwebcams%2Fbardarbunga%2F&amp;id=player&amp;bufferlength=1&amp;wmode=transparent&amp;autostart=true&amp;stretching=fill&amp;skin=%2FResources%2Ffonts%2Fbeelden.zip&amp;file=akureyri.stream&amp;streamer=rtmp%3A%2F%2F213.167.154.114%2Fmila%2F&amp;provider=rtmp&amp;controlbar.position=none">
	</object>
</div>